<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="project.pansari">

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/Theme.Pansari">

        <activity android:name=".ShopkeeperPackage.OrderSummaryPackage.OrderSummaryActivity" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_notification" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/blue" />

        <activity android:name=".ShopkeeperPackage.WholesalerProductOverviewPackage.WholesalerProductsOverview" />
        <activity
            android:name=".WholesalerPackage.WholesalerProductOverviewPackage.WholesalerProductOverview"
            android:parentActivityName=".WholesalerPackage.WholesalerMainActivityPackage.WholesalerMainActivity" />
        <activity android:name=".WholesalerPackage.WholesalerMainActivityPackage.WholesalerMainActivity" />
        <activity
            android:name=".LoginAndSignupPackage.SignupPackage.SignupActivity"
            android:parentActivityName=".LoginAndSignupPackage.LoginPackage.LoginActivity" />
        <activity android:name=".LoginAndSignupPackage.LoginPackage.LoginActivity" />

        <activity
            android:name=".LoginAndSignupPackage.StartActivityPackage.StartActivity"
            android:exported="true"
            android:theme="@style/SplashStyle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ShopkeeperPackage.ShopkeeperMainActivityPackage.ShopkeeperMainActivity" />
    </application>

</manifest>