<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="project.pansari">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Pansari">

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_notification" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/primary_color" />

        <activity android:name=".ShopkeeperPackage.WholesalerProductOverviewPackage.WholesalerProductsOverview" />
        <activity android:name=".WholesalerPackage.WholesalerAddProductPackage.WholesalerAddProduct" />
        <activity android:name=".WholesalerPackage.WholesalerMainActivityPackage.WholesalerMainActivity" />
        <activity android:name=".LoginAndSignupPackage.SignupPackage.SignupActivity" />
        <activity android:name=".LoginAndSignupPackage.LoginPackage.LoginActivity" />
        <activity android:name=".LoginAndSignupPackage.WelcomeActivity" />
        <activity
            android:name=".LoginAndSignupPackage.StartActivityPackage.StartActivity"
            android:theme="@style/SplashStyle">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ShopkeeperPackage.ShopkeeperMainActivityPackage.ShopkeeperMainActivity" />
    </application>


</manifest>